th {
    background: #f8f9fc;
}
.table.dataTable>thead .sorting:after, table.dataTable>thead .sorting_asc:after{
    display: none;
}
.table.dataTable>thead .sorting:before, table.dataTable>thead .sorting_asc:before{
    display: none;
}
.sorting.sorting_asc::after .sorting.sorting_asc::before{
    padding: 0 0 0 0;
}

.table.dataTable>thead>tr>th:not(.sorting_disabled), table.dataTable>thead>tr>td:not(.sorting_disabled) {
    padding-right: 12px;
    text-align: center;
}

td{
    text-align: center;
}
th{
    text-align: center;
}
#addbtn{
    float: right;
    margin-right: 1%;
}
.selbox{
    margin-left: 2%;
    margin-right: 2%;
}
.textcom{
    display: none;
}
#modalT{
	text-align:center;
}
#modalT th{
	background:white;
}