
.twobuttons{
    float: right;
    /* text-align: center; */
}
/* 트리구조 css */
.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none;
    margin-left:10px;
}
.personal{
	cursor:pointer;
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#369;
    font-weight:700;
    position:relative
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree li a {
    text-decoration: none;
    color:#369;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}
/* 트리구조 css */
/* 우측 css */
.right_info{
    min-height: 60.5vh; 
}
#som{
    display:none
}
#som > div{
    text-align: center;
}

#perimg{
    width: 30%;
}
th {
    background: #f8f9fc;
}
/* 우측 css */

/* 검색 결과 창 */
#search_result{
    background-color:white; 
    margin-top: 5%; 
    border: 5px solid #e3e6f0; 
    border-radius: 0.35rem; 
    text-align: center; 
    min-height: 10vh; 
    max-height: 15vh; 
    overflow: scroll;
    overflow-x:hidden; 
}
/* 검색 결과 창 */
/* 트리 조직도 구역 */
#tree_people{
    border: 5px solid #f8f9fc; 
    margin: 10% 0 10% 0;  
    
    max-height: 78vh; 
    overflow: scroll;
    overflow-x:hidden; 
    padding: 7% 7%; 
}
/* 트리 조직도 구역 */
.tempU th{
    background-color: white;
    width: 50%;
}
.tempU{
    width: 100%;
}