.bg-gradient-primary {
    background-color: white;
    background-image: linear-gradient(20deg,white 5%,black 100%);
    background-size: cover;
    }
th{
    background: #f8f9fc;
    text-align: center;
    vertical-align: middle;
}

.perimg {
    margin: 1rem 8rem 1rem;
}

#emaillast{
    font-size: 1.5rem;
}
.form-control{
    margin-right: 0.7rem;
}
#birthlast{
    margin-right: 0.7rem;
}
.col-sm-2{
    float: left;
    margin-left: 5%;
}
.nav-tabs {
    border-bottom:0px;
}
#dataTable{
    height: 100%;
}

#dataTable th{
    vertical-align: middle;
}
#dataTable td{
    vertical-align: middle;
}
#dataTable tr td{
    vertical-align: middle;
}
tr{
	text-align:center;
}
.twobuttons{
    text-align: center;
}
.tree{
	cursor:pointer;
}