
.twobuttons{
    float: right;
    /* text-align: center; */
}
/* 트리구조 css */
.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none;
    margin-left:10px;
}
.personal{
	cursor:pointer;
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#369;
    font-weight:700;
    position:relative
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree li a {
    text-decoration: none;
    color:#369;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}
/* 트리구조 css */
/* 우측 css */
.right_info{
    min-height: 60.5vh; 
}
#som{
    display:none
}
#som > div{
    text-align: center;
}

#perimg{
    width: 30%;
}
th {
    background: #f8f9fc;
}
/* 우측 css */

/* 검색 결과 창 */
#search_result{
    background-color:white; 
    margin-top: 5%; 
    border: 5px solid #e3e6f0; 
    border-radius: 0.35rem; 
    text-align: center; 
    min-height: 10vh; 
    max-height: 15vh; 
    overflow: scroll;
    overflow-x:hidden; 
}
/* 검색 결과 창 */
/* 트리 조직도 구역 */
#tree_people{
    border: 5px solid #f8f9fc; 
    margin: 0;  
    
    max-height: 19vh; 
    overflow: scroll;
    overflow-x:hidden; 
    padding: 7% 7%; 
}
/* 트리 조직도 구역 */
.tempU th{
    background-color: white;
    width: 50%;
}
.tempU{
    width: 100%;
}

#detail {
	display: none;
}
/* 버튼 및 모달 */
.page-wrapper {
    /* display: inline; */
    width: 100%;
    height: 100%;
    background-size: cover;

}

.uppermodal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; 
    left: 0;
    background: rgba(94, 94, 94, 0.6);
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    z-index: 2;
}

.uppermodal-wrapper.open {
    opacity: 1;
    visibility: visible;
}


.uppermodal-wrapper.open .uppermodal {
    margin-top: 10%;
    margin-left:35%;
    opacity: 1;
}

.uppermodmodal-wrapper.open {
    opacity: 1;
    visibility: visible;
}


.uppermodmodal-wrapper.open .uppermodmodal {
    margin-top: 10%;
    margin-left:35%;
    opacity: 1;
}
.modmodal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; 
    left: 0;
    background: rgba(94, 94, 94, 0.6);
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    z-index: 2;
}

.modmodal-wrapper.open {
    opacity: 1;
    visibility: visible;
}
.modmodal-wrapper.open .modmodal {
  margin-top: 10%;
    margin-left:35%;
    opacity: 1;
}
.addmodal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; 
    left: 0;
    background: rgba(94, 94, 94, 0.6);
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    z-index: 2;
}

.uppermodmodal-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; 
    left: 0;
    background: rgba(94, 94, 94, 0.6);
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    z-index: 2;
}

.addmodal-wrapper.open {
    opacity: 1;
    visibility: visible;
}

.addmodal-wrapper.open .addmodal {
    margin-top: 10%;
    margin-left:35%;
    opacity: 1;
}
.uppermodal, .addmodal, .modmodal, .uppermodmodal {
    width: 600px;
    /* height: 55%; */
    height: auto;
    display: block;
    margin: 50% 0 0 -300px;
    top: 50%; 
    left: 50%;
    background: #fff;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    border-radius: 0.5rem;
    border: 1px solid #858796;
}


.head { 
    width: 100%;
    height: 50px;
    padding: 12px 30px;
    overflow: hidden;
    background: rgb(210, 197, 165);
    color: white;
}

.btn-close {
    font-size: 22px;
    display: block;
    float: right;
    color: #fff;
}

.content{
    padding: 3%;
    text-align: center;

    
}
.content input{
    margin: 15px;
}

.modal-footer .btn-group button {
    border-right: 1px solid #ddd;
}

.modal-footer .btn-group:last-child > button {
    border-right: 0;
}

#addList, #addUpperList, #modList, #uppermodList, #upperdel-content-detail  {
    font-weight: bold;
    color: #051367;
}


.btn-group {
    width: 100%;
}

.btn-group>.btn {
    position: relative;
    flex: 1 1 auto;
}

ul.uppercategory {
    list-style:none;
    display:block;
 
   
}

ul.uppercategory li:before{
	content:"\f07c";
	font-family: FontAwesome;
    padding:0 10px;

    color:#369;
    font-weight:700;
    position:relative
}

.uppermodbtn{
    margin-top: -15px;
}
h2.upper{
	display:contents;
}