<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.himark.mapper.ApproveListManageMapper">
	
	<select id="getUpperList" resultType="String">
		select classify_name from approval_classify where upper_classify_name is null
	</select>
	
	<select id = "getCategory" resultType="com.himark.domain.ApproveListManageVO">
	select * from approval_classify
	where upper_classify_name=#{upper_classify_name}
	</select>
	
	<select id="isInCheck" resultType="int">
		select count(*) from approval_classify where classify_name = #{classify_name};
	</select>
	
	<select id="isInUpperCheck" resultType="int">
		select count(*) from approval_classify where classify_name = #{upper_classify_name};
	</select>
	
	<!-- 삭제 -->
	<delete id="delList" >
		delete from approval_classify where classify_name = #{classify_name} or upper_classify_name = #{classify_name}
	</delete>
	<!-- 수정 -->
	<update id="modList">
		update approval_classify
		set classify_name = #{mod_name} , approval_period = #{mod_period}
		where classify_name = #{amvo.classify_name} and approval_period = #{amvo.approval_period}
	</update>
	<!-- 삽입 -->
	<insert id="insertNewList">
		insert into approval_classify(classify_name, approval_period,upper_classify_name)
		values ( #{classify_name} , #{approval_period},#{upper_classify_name});
	</insert>
	
	<update id = "uppermodList">
	update approval_classify
	set classify_name = case when classify_name = #{amvo.classify_name} then #{mod_name} else classify_name end,
		upper_classify_name = case when upper_classify_name=#{amvo.classify_name} then #{mod_name} else upper_classify_name end;
	</update>
</mapper>