<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.himark.mapper.MemberMapper">

<resultMap type="com.himark.domain.MemberVO" id="getMemberMap">
	  <result property="userId" column="user_id"/>
        <result property="userPwd" column="user_password"/>
        <result property="userName" column="user_name"/>
        <result property="pos" column="pos_name"/>    
        <result property="duty" column="duty_name"/>     
        <result property="deptId" column="dept_id"/>     
        <result property="dept" column="dept_name"/>  
        <result property="authorityCode" column="authority_code"/>  
        <result property="birth" column="birth_date"/>  
        <result property="sex" column="성별"/>  
        <result property="phoneNo" column="phone_number"/>  
        <result property="email" column="email"/>  
         <result property="currentState" column="재직여부"/>  
         <result property="bonbu" column="본부"/>
         <result property="buseo" column="부서"/>
         <result property="team" column="팀"/>
</resultMap>




<select id="getMember" resultType="com.himark.domain.UsersDetailVO">
select * from usersdetail
where user_id=#{userId}
</select>

<select id="getDeptList" resultMap="getMemberMap">
select * from user
JOIN dept 
ON user.dept_id = dept.dept_id
join pos
on user.pos_id = pos.pos_id
join duty
on user.duty_id = duty.duty_id
where user.dept_id like CONCAT(#{deptId},'%');
</select>


<!--manager 테이블 insert  -->
<insert id="manager">
insert into manager(manager_id, approval_target)
select a.user_id, b.user_id
from user a
right join user b
on a.dept_id=b.dept_id
where a.authority_code="A2";
</insert>

<select id="getApproverList" resultMap="getMemberMap">
select user_id, user_name, head as 본부, depart as 부서, team as 팀, duty_name from usersdetail
where user_id=#{managerId};
</select>



<select id="login" resultMap="getMemberMap">
	select user_id, user_password, code_name as authority_code
	from user left join code_info
	on authority_code = common_code
	where current_state = '재직' and user_id = #{userId} and user_password = #{userPwd}
</select>

<select id="getApprover" resultMap="getMemberMap">
		select getApprover(#{userId}) as user_id
	</select>

<select id="getCeo"  resultType="com.himark.domain.UsersDetailVO">
	select user_name, duty_name, user_id from usersdetail where authority_code="A3"
</select>

<select id="getTempManager" resultType="com.himark.domain.TempManagerInfoVO">
select * from tempmanagerinfo where manager_id=#{manager} 
</select>

<select id="getTempOrigin" resultType="String">
select manager_id from tempmanagerinfo
where temp_manager=#{userId};
</select>

</mapper>